@import '../../assets/styles/style.scss';
.state-service-container{
    .state-service-content{
        h2,h3,h4{
            margin:0;
            margin-top: 5px;
        }
        h2{
            @include text(1rem,600);
        }
        h3{
            @include text(0.84rem);
            color: $gray-ligth-1;
        }
        h4{
            @include text(0.80rem,600);
            color: $primary;
        }
    }

    @include lt-lg{
        flex-direction: column;
        height: auto;
        .state-service-content{
        margin-bottom: 10px;
           width: 100%;
        }

    }
}
