@import '@/assets/styles/style.scss';

.chat-head__container {
  background: $white;
  border-radius: 16px;
  padding: 0.3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .file {
    margin: 0 13px;
    padding: 8px 13.33px;
    border-radius: 50%;

    &:hover {
      @include hover;
      background: $gray-ligth-2;
    }
  }

  &.client-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    i {
      font-size: 25.55px;
    }
  }

  .head__username {
    h2 {
      margin: 0;
      @include text(0.95rem, 500);
    }

    .username__status {
      display: inline-flex;
      align-items: center;

      p {
        @include text(0.76rem);
        color: $gray-darken-1;
        margin: 0;
      }

      .status__dot {
        margin-right: 5px;
        width: 8px;
        height: 8px;
        background-color: $red-darken-4;
        border-radius: 50%;

        &--online {
          background-color: $green;
        }
      }
    }
  }
  .head__actions {
    .action__items {
      display: flex;
      justify-content: space-around;
      list-style: none;
      align-items: center;

      i {
        font-size: 18.5px;
      }

      li {
        color: $gray-darken-1;
        border-radius: 12px;

        &:hover {
          background: $gray-ligth-4;
          color: $primary;
        }
      }

      hr {
        margin: 0 1rem;
        height: 30px;
      }
    }
  }
}
