@import '@/assets/styles/style.scss';

.chat-head__container {
  background: $white;
  border-radius: 16px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .head__username {
    h2 {
      margin: 0;
      @include text(0.95rem, 500);
    }

    .username__status {
      display: inline-flex;
      align-items: center;

      p {
        @include text(0.76rem);
        color: $gray-darken-1;
        margin: 0;
      }

      .status__dot {
        margin-right: 5px;
        width: 8px;
        height: 8px;
        background-color: $red-darken-4;
        border-radius: 50%;

        &--online {
          background-color: $green;
        }
      }
    }
  }
  .head__actions {
    .action__items {
      display: flex;
      justify-content: space-around;
      align-items: center;

      hr {
        margin: 0 1.2rem;
        height: 30px;
        width: 1px;
        border: none;
      }
    }
  }
}

.action__item {
  list-style: none;
  i {
    font-size: 20.2px;
  }

  li {
    color: $gray-darken-1;
    border-radius: 12px;

    &:hover {
      background: $gray-ligth-4;
      color: $primary;
    }
  }
}
