@import '@/assets/styles/style.scss';

.new-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;

  .new-product__content {
    h2,
    h3 {
      margin: 0;
    }

    h2 {
      color: $gray-darken-3;
      @include text(0.8rem, 400);
      line-height: 1.4rem;
    }
    h3 {
      color: $gray-ligth-1;
      @include text(0.8rem, 400);
    }
  }
}
