@import '@/assets/styles/style.scss';

.switch__container {
  text-align: center;
  display: flex;
  align-items: center;

  .s-switch {
    margin: 0 1rem;
    position: relative;
    display: inline-block;
  }
}

.s-switch > label.s-switch-inner {
  margin: 0;
  overflow: hidden;
  display: block;
  position: relative;
  transition: all 300ms ease-in;
  width: 50px;
  height: 30px;
  background: #e0e0e0;
  color: #e0e0e0;
  border-radius: 26px;
}

.s-switch > label.s-switch-inner::before {
  font-weight: 600;
  position: absolute;
  content: attr(data-on);
  top: 7px;
  right: 20px;
}

.s-switch > label.s-switch-inner::after {
  position: absolute;
  text-align: center;
  transition: all 300ms ease-in;
  background: $white;
  content: attr(data-off);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  left: 5px;
  top: 5px;
  box-shadow: 0 0 6px -2px #111;
  padding: 5px 0;
}

.s-switch input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
}
.s-switch input[type='checkbox']:checked + label.s-switch-inner {
  background: $primary;
  color: $white;
}

.s-switch input[type='checkbox']:checked + label.s-switch-inner::after {
  background: $white;
  content: attr(data-on);
  left: 24px;
}

.s-switch input[type='checkbox']:checked + label.s-switch-inner::before {
  right: auto;
  content: attr(data-off);
  left: 20px;
}

.s-switch__size {
  &--small {
    & > label.s-switch-inner {
      width: 40px;
      height: 20px;
    }

    & > label.s-switch-inner::after {
      height: 15px;
      width: 15px;
      top: 2.4px;
    }

    & input[type='checkbox']:checked + label.s-switch-inner::after {
      left: 20px;
    }
  }

  &--large {
    & > label.s-switch-inner {
      width: 55px;
      height: 30px;
    }

    & > label.s-switch-inner::after {
      height: 22px;
      width: 22px;
      top: 4px;
    }

    & input[type='checkbox']:checked + label.s-switch-inner::after {
      left: 28px;
    }
  }
}
