@import '@/assets/styles/style.scss';

.expense-card {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .expense-card__content {
    margin: 0 1rem;
    h2 {
      @include text(1rem, 500);
      color: $gray-darken-3;
    }
    p {
      @include text(0.76rem);
      color: $gray-white;
    }
  }
}

.expense-chart {
  color: $white;
  padding: 25px;
  text-align: center;
  background: $blue;
  border-radius: 100%;
  margin: 0;
}
