@import '@/assets/styles/style.scss';

.client-history__wrapper {
  display: flex;
  flex-direction: column;

  .client-history__issues {
    text-align: center;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        margin: 0.2rem 0.2rem;
      }
    }

    h2 {
      @include text(0.97rem, 500);
    }
  }

  .client-history {
    padding: 20px 10px;
    overflow-y: scroll;

    .client-history__card {
      margin-top: 20px;
      display: flex;

      .client-history__card-content {
        p {
          @include text(0.93rem);
          margin-bottom: 5px;
        }

        small {
          @include text(0.833rem);
          color: $gray-ligth-1;
        }
      }

      .client-history__card-action {
        i {
          &:hover {
            @include hover;
            background: $gray-ligth-3;
          }

          padding: 10px;
          border-radius: 11.3px;
          font-size: 22.22px;
          color: $gray-darken-1;
        }
      }
    }
  }
}
