@import './style.scss';

.chat-layout {
  display: grid;
  grid-template-columns: 19% 1fr 19%;
  grid-template-areas: 'clients chat history';
  margin: 2rem 1rem;

  .clients-layout {
    grid-area: clients;
  }

  .chat-container {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .client-history__container {
    grid-column: history;
  }

  @include lt-md {
    margin-top: 75px;
    padding: 0 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'clients'
      'chat'
      'history';
  }
}

// Client history
.client-history__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  padding: 0 1rem;
}
