@import '@/assets/styles/style.scss';
// Clients
.clients-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
  
    .clients-search-bar{
        hr{
            border-color:  $gray-ligth-4;
            width: 70%;
            margin-top: 20px;
        }
    }
    .clients-avaliable{
       height: 70vh;
       margin: 25px 0;
       overflow-y: scroll;
    }
    .clients-action{
        display: flex;
        justify-content: center;
      button{
        flex: 0 0 80%;
      }
    }
    @include lt-md{
      .clients-avaliable {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        max-height: 500px;
      }
      
    }
}
