@import '@/assets/styles/style.scss';

.settings__container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;

  .settings__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    .header-action {
      border-radius: 50%;
      height: 39px;
      width: 39px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 200ms;

      &:hover {
        background: rgba(128, 128, 128, 0.062);
        transition-duration: 200ms;
      }
    }
  }

  .settings__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    .settings__item {
      background: rgba(235, 235, 235, 0.151);
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-radius: 10px;
      margin-left: 0.3rem;
      width: 49%;

      span {
        padding-bottom: 1rem;
      }
    }
  }
}
