@import '@/assets/styles/style.scss';

.app-config__container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;

  .app-config__action {
    align-self: flex-end;
    margin-bottom: 1rem;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 200ms;

    &:hover {
      background: rgba(128, 128, 128, 0.062);
      transition-duration: 200ms;
    }
  }

  .app-config__items {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    .app-config__item {
      background: rgba(235, 235, 235, 0.151);
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-radius: 10px;
      margin-left: 0.3rem;

      span {
        padding-bottom: 1rem;
      }
    }
  }
}
